node_modules
react-supabase-todolist-optional-sync/src/dev-dist
use-prompt-api/miguelspizza-use-prompt-api-1.0.0.tgz
use-prompt-api/miguelspizza-use-prompt-api-1.0.1.tgz


.nx/cache
.nx/workspace-data
vite.config.*.timestamp*